<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone</key>
	<dict>
		<key>29</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>40</key>
		<array>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<key>57</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>60</key>
		<array>
			<string>2</string>
			<string>3</string>
		</array>
	</dict>
	<key>iPad</key>
	<dict>
		<key>29</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>40</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>50</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>72</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>76</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<key>macOS</key>
	<dict>
		<key>16</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>32</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>128</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>256</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<key>512</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
</dict>
</plist>
